*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background-color: rgb(141, 69, 69);
    margin: 0;
    padding: 2em;
}
.heading{
    text-align: center;
    color: white
}
h1{
    font-size: 3rem;
}
.nav{
    background-color: black;
    margin-top: -2em;
}
.page_link{
    list-style: none;
    margin: 0;
    padding: 2em 0;
}

.page_link a{
    text-decoration: none;
    color: white;
    padding: .5em 1em;    
}
.page_link a:hover{
    background-color: rgb(141, 69, 69);
    padding: .5em 1em;
    border-radius: 20px;
}
.nav_link{
    display: flex;
    gap: 4em;
    justify-content: center;
}